#searchbar {
    border-radius: 25px;
    width: 130% !important;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100% !important;
  }
  
  .white-label {
    color: white !important; /* Destination text white */
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: white;
  }
  